<h1><%= @course.name %></h1>
<h2>Course Breakdown</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Weight</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% sum=0 %>
<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.weight.to_f*100 %>%</td>
    <td><%= link_to 'Tasks', category_tasks_path(category) %></td>
    <td><%= link_to 'Edit', edit_course_category_path(@course,category) %></td>
    <td><%= link_to 'Destroy', [@course,category], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  <% sum += category.weight %>
<% end %>
</table>
<br>

<%= link_to 'New Category', new_course_category_path(@course) %>
<br>
<br>

<% if sum != 1 then %>
Caution: weights do not total 100%
<% end %>
